footer {
  background: hsl(223, 26%, 24%);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  max-width: 100%;
}

.ft_one {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}

footer ul {
  list-style: none;
}
.social_link {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.social_link,
.logo-img {
  color: hsl(0, 0%, 98%);
  padding-bottom: 20px;
  /* background-color: white; */
}

.social_link .logo-img {
  filter: brightness(800%) saturate(100%);
}

.social_link_list li {
  display: inline-block;
  margin-right: 10px;
}

.ft-nav-1 li,
.ft-nav-2 li {
  margin: 10px 0;
}

.ft-nav-1 li a,
.ft-nav-2 li a {
  color: hsl(0, 0%, 98%);
  font-size: 15px;
  list-style-type: none;
  text-decoration: none;
  font-weight: 200;
}
.ft-nav-1 li a:hover {
  color: mediumseagreen;
}
.ft-nav-2 li a:hover {
  color: mediumseagreen;
}

.ft-two {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.ft-two h4 {
  color: hsl(0, 0%, 98%);
  padding-top: 35px;
  margin-bottom: 10px;
  font-weight: 200;
}

.request_inite_btn {
  margin-top: 20px;
  background: linear-gradient(to right, hsl(136, 64%, 46%), hsl(192, 60%, 51%));
  border: none;
  padding: 10px 20px;
  color: hsl(0, 0%, 98%);
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.resBtn {
  display: none;
}

@media (max-width: 768px) {
  footer {
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .logo-img {
    display: block;
    padding: 20px 0;
    background-image: white;
    filter: brightness(800%) saturate(100%);
  }
  .ft_one {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-basis: 100%;
  }

  ul {
    padding: 0;
  }

  .social_link {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .social_link_list {
    margin-right: -15px;
    margin-top: 10px;
  }

  .ft-nav-1,
  .ft-nav-2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: -13px;
  }

  .ft-two {
    display: none;
  }
  .resBtn {
    display: block;
    background: linear-gradient(
      to right,
      hsl(136, 64%, 46%),
      hsl(192, 60%, 51%)
    );
    margin-right: -13px;
    border: none;
    align-self: center;
    width: 100px;
    height: 35px;
    padding: 0;
    color: hsl(0, 0%, 98%);
    font-size: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 20px;
  }
}
