.details {
  background: var(--VeryLightGray);
  display: grid;
  grid-template-columns: 60% 40%;
  height: 95vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
  /* width: 100%; */
}

.hero-row {
  display: flex;
  /* padding: 0 0px; */
}

.details {
  margin-left: 4%;
}

.brief_details {
  display: flex;
  flex-direction: column;
  transform: translate(20%, -1%);
}
.brief_details h1 {
  color: hsl(233, 26%, 24%);
  font-size: 40px;
  font-weight: 400;
  padding-left: 30px;
}

.brief_details p {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  font-weight: 300;
  padding-left: 30px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.ReqBtn {
  padding: 10px;
  max-width: 30%;
  margin-left: 8%;
  border: none;
  background: linear-gradient(to right, hsl(136, 64%, 46%), hsl(192, 60%, 51%));
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

#heroImg {
  width: 100%;
  /* height: 80%; */
  object-fit: cover;
  position: relative;
}
#phoneImg {
  display: none;
}
@media (max-width: 768px) {
  .hero-row {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    height: 60vh;
    /* top: -40px; */
    overflow: hidden;
  }

  .brief_details h1 {
    position: absolute;
    z-index: 1000;
    font-size: 25px;
    margin-top: 50%;
    max-width: 100%;
    margin-left: 80px;
    display: none;
  }

  .details p {
    display: none;
  }

  .mockup {
    grid-template-columns: repeat(1fr) reverse;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
  }

  #heroImg {
    display: none;
  }

  #phoneImg {
    display: block;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
